App_WebReferences/edu/unt/itds/atlas/usefulsites.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://VSSites.unt.edu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://VSSites.unt.edu/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://VSSites.unt.edu/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestSites">
        <s:complexType />
      </s:element>
      <s:element name="GetLatestSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestSitesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetLatestSitesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLatestSites" />
  </wsdl:message>
  <wsdl:message name="GetLatestSitesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLatestSitesResponse" />
  </wsdl:message>
  <wsdl:portType name="UsefulSitesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestSites">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method reads an XML file that provides links to useful Web sites.</wsdl:documentation>
      <wsdl:input message="tns:GetLatestSitesSoapIn" />
      <wsdl:output message="tns:GetLatestSitesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsefulSitesSoap" type="tns:UsefulSitesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://VSSites.unt.edu/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestSites">
      <soap:operation soapAction="http://VSSites.unt.edu/GetLatestSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsefulSitesSoap12" type="tns:UsefulSitesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://VSSites.unt.edu/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestSites">
      <soap12:operation soapAction="http://VSSites.unt.edu/GetLatestSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsefulSites">
    <wsdl:port name="UsefulSitesSoap" binding="tns:UsefulSitesSoap">
      <soap:address location="http://atlas.itds.unt.edu/vssites/usefulsites.asmx" />
    </wsdl:port>
    <wsdl:port name="UsefulSitesSoap12" binding="tns:UsefulSitesSoap12">
      <soap12:address location="http://atlas.itds.unt.edu/vssites/usefulsites.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>